<%= provide :title, 'LOA/LOB Contract Request' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">LOA/LOB Contract Request</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <strong>&lowast; &mdash; indicates required field</strong>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-centered">
      <%= form_tag(loa_lob_contract_email_path, method: :post) do %>
          <div class="row">
            <div class="col-md-10">
              <h3>Employee Information</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11 col-centered">
              <div class="form-group">
                <div class="col-md-5">
                  <%= label_tag :employee_first_name, 'First Name' %>&lowast;
                  <%= text_field_tag :employee_first_name, nil, class: 'form-control', required: true %>
                </div>
                <div class="col-md-2">
                  <%= label_tag :employee_middle_initial, 'Middle Initial' %>
                  <%= text_field_tag :employee_middle_initial, nil, class: 'form-control' %>
                </div>
                <div class="col-md-5">
                  <%= label_tag :employee_last_name, 'Last Name' %>&lowast;
                  <%= text_field_tag :employee_last_name, nil, class: 'form-control', required: true %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11 col-centered">
              <div class="form-group">
                <div class="col-md-5">
                  <%= label_tag :employee_email, 'Email' %>&lowast;
                  <%= email_field_tag :employee_email, nil, class: 'form-control', required: true %>
                </div>
                <div class="col-md-5">
                  <%= label_tag :employee_phone, 'Phone' %>
                  <%= telephone_field_tag :employee_phone, nil, class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11 col-centered">
              <div class="form-group form-inline">
                <div class="col-md-5">
                  &lowast;<%= label_tag :hire_type, 'New Hire' %>
                  <%= radio_button_tag :hire_type, 'New Hire', false, class: 'form-control', required: true %>
                  <%= label_tag :hire_type, 'Reappointment' %>
                  <%= radio_button_tag :hire_type, 'Reappointment', false, class: 'form-control', required: true %>
                </div>
                <div class="col-md-7">
                  <%= label_tag :is_international, 'International Student/Employee?' %>&lowast;
                  <%= label_tag :is_international, 'Yes' %>
                  <%= radio_button_tag :is_international, 'Yes', false, class: 'form-control', required: true %>
                  <%= label_tag :is_international, 'No' %>
                  <%= radio_button_tag :is_international, 'No', false, class: 'form-control', required: true %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10">
              <h3>Position Information</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11 col-centered">
              <div class="form-group">
                <div class="col-md-6">
                  <%= label_tag :department, 'Department/Unit' %>&lowast;
                  <%= select_tag :department, options_for_select(departments), prompt: 'Choose a department', class: 'form-control', required: true %>
                </div>
                <div class="col-md-6">
                  <%= label_tag :supervisor, 'Supervisor' %>&lowast;
                  <%= text_field_tag :supervisor, nil, class: 'form-control', required: true %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11 col-centered">
              <div class="form-group">
                <div class="col-md-3">
                  <%= label_tag :start_date, 'Start Date' %>&lowast;
                  <%= date_field_tag :start_date, nil, class: 'form-control datepicker calcFTE', id: 'startDate', required: true %>
                </div>
                <div class="col-md-3">
                  <%= label_tag :end_date, 'End Date' %>&lowast;
                  <%= date_field_tag :end_date, nil, class: 'form-control datepicker calcFTE', id: 'endDate', required: true %>
                </div>
                <div class="col-md-3">
                  <%= label_tag :monthly_rate, 'Monthly Rate' %>&lowast;
                  <%= text_field_tag :monthly_rate, nil, class: 'form-control', required: true %>
                </div>
                <div class="col-md-3">
                  <%= label_tag :total_amount, 'Total Contract Amount' %>
                  <%= text_field_tag :total_amount, nil, class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11 col-centered">
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <strong>Note: LOB Medical Insurance $8,391/year, Fringe Rate 9.30%</strong>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11 col-centered">
              <div class="form-group">
                <div class="col-md-6">
                  <%= label_tag :hours_per_week, 'Hours/Week' %>&lowast;
                  <%= text_field_tag :hours_per_week, nil, class: 'form-control calcFTE', id: 'hoursPerWeek', required: true %>
                </div>
                <div class="col-md-6 fte-rate">
                  <%= label_tag :fte_rate, 'LOA FTE %', id: 'fteRateLabel' %>
                  <%= text_field_tag :fte_rate, nil, class: 'form-control', id: 'fteRate', readonly: true %>
                  <%= hidden_field_tag :contract_type, 'LOA', id: 'contractType' %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11 col-centered">
              <div class="form-group">
                <div class="col-md-6">
                  <%= label_tag :account_information, 'Account Number or Name' %>&lowast;
                  <%= text_field_tag :account_information, nil, class: 'form-control', required: true %>
                </div>
                <div class="col-md-6 form-inline margin-top-1-5">
                  <%= label_tag :split_funded, 'Split Funded?' %>&lowast;
                  <%= label_tag :split_funded, 'Yes' %>
                  <%= radio_button_tag :split_funded, 'Yes', false, class: 'form-control', required: true %>
                  <%= label_tag :split_funded, 'No' %>
                  <%= radio_button_tag :split_funded, 'No', false, class: 'form-control', required: true %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11 col-centered">
              <div class="form-group">
                <div class="col-md-12">
                  <%= label_tag :additional_accounts, 'Additional Accounts (Please specify Acct. Num. or Name. Include split details in comments.)' %>
                  <%= text_area_tag :additional_accounts, nil, class: 'form-control' %>
                </div>
                <div class="col-md-12 margin-top-1">
                  <%= label_tag :job_description, 'Job Description' %>&lowast;
                  <%= text_area_tag :job_description, nil, class: 'form-control', required: true; %>
                </div>
                <div class="col-md-12 margin-top-1">
                  <%= label_tag :comments, 'Additional Comments' %>
                  <%= text_area_tag :comments, nil, class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10">
              <h3>Requester Information</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11 col-centered">
              <div class="form-group">
                <div class="col-md-6">
                  <%= label_tag :requester_first_name, 'First Name' %>&lowast;
                  <%= text_field_tag :requester_first_name, nil, class: 'form-control', required: true %>
                </div>
                <div class="col-md-6">
                  <%= label_tag :requester_last_name, 'Last Name' %>&lowast;
                  <%= text_field_tag :requester_last_name, nil, class: 'form-control', required: true %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11 col-centered">
              <div class="form-group">
                <div class="col-md-6">
                  <%= label_tag :requester_department, 'Department/Unit' %>&lowast;
                  <%= select_tag :requester_department, options_for_select(departments), prompt: 'Choose a department', class: 'form-control', required: true %>
                </div>
                <div class="col-md-6">
                  <%= label_tag :requester_email, 'Email' %>&lowast;
                  <%= email_field_tag :requester_email, nil, class: 'form-control', required: true %>
                </div>
              </div>
            </div>
          </div>

          <div class="row margin-top-2">
            <div class="col-md-12">
              <div class="form-group">
                <div class="col-md-2 col-centered text-center">
                  <%= submit_tag 'Submit', class: 'btn btn-default form-control' %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11 col-centered">
              <hr>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
